/Calculadora.class
/CalculadoraConstants.class
/CalculadoraTokenManager.class
/ParseException.class
/SimpleCharStream.class
/Token.class
/TokenMgrError.class
/TokenMgrError.java
/CalculadoraConstants.java
/SimpleCharStream.java
/CalculadoraTokenManager.java
/Token.java
/Calculadora.java
/ParseException.java
